*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

:root{
    --TemaEscuro: #00000082;
    --temaClaro: #fff;
}

body{
   background: linear-gradient(to left, #161616b1, rgb(250, 127, 12));;
}

#containerPesquisa{
    max-width: 600px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    border: 1px solid #00000099;
    box-shadow: 3px 3px 3px rgb(255, 123, 0);
}

#containerPesquisa input{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px 0 5px 10px;
    margin: 5px;
    width: 90%;
}

#ativarModal{
    border: 1px solid #595959;
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s ease;
    margin: 10px 0 5px 0;
}

#ativarModal:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 3px rgb(255, 123, 0);
}

#referencia{
    text-decoration: underline;
    margin: 0 0 10px 0;
}

#containerInformacoes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    min-height: 500px;
    border: 1px solid #000;
    display: none;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
}

#containerInformacoes h1{
    margin: 8px 0 0 0;
}

#dadosBiblicos{
    padding: 50px 20px 20px 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 100%;
}

.modalTop{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80%;
}

.modalBottom{
    position: absolute;
    bottom: 3%;
    background-color: orange;
}

#fecharModal{
    position: absolute;
    top: 3%;
    right: 3%;
}

.rodape{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 123, 0);
    text-align: center;
}

.rodape p{
    font-size: 11px;
}

@media (width < 480px){
    #containerPesquisa{
        width: 90%;
    }

    #containerInformacoes{
        width: 90%
    }
}

